In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/big-data-analytics-certification-kr-2022/nf.csv
/kaggle/input/big-data-analytics-certification-kr-2022/train.csv
/kaggle/input/big-data-analytics-certification-kr-2022/test.csv
/kaggle/input/big-data-analytics-certification-kr-2022/fb.csv

In [2]:
train=pd.read_csv('/kaggle/input/big-data-analytics-certification-kr-2022/train.csv')
test=pd.read_csv('/kaggle/input/big-data-analytics-certification-kr-2022/test.csv')

In [3]:
print(train.shape,test.shape)

(6665, 11) (2154, 10)

In [4]:
train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,4
1,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,2
2,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,2
3,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,3
4,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,3

In [5]:
test.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6
3,459003,Male,Yes,47,Yes,Doctor,0.0,High,5.0,Cat_4
4,459005,Male,Yes,61,Yes,Doctor,5.0,Low,3.0,Cat_6

In [6]:
train['Segmentation'].value_counts()

Segmentation
4    1757
3    1720
1    1616
2    1572
Name: count, dtype: int64

In [7]:
train.isna().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [8]:
test.isna().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2154 non-null   int64
 1   Gender           2154 non-null   object
 2   Ever_Married     2154 non-null   object
 3   Age              2154 non-null   int64
 4   Graduated        2154 non-null   object
 5   Profession       2154 non-null   object
 6   Work_Experience  2154 non-null   float64
 7   Spending_Score   2154 non-null   object
 8   Family_Size      2154 non-null   float64
 9   Var_1            2154 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 168.4+ KB

In [11]:
train.describe(include='object')

       Gender Ever_Married Graduated Profession Spending_Score  Var_1
count    6665         6665      6665       6665           6665   6665
unique      2            2         2          9              3      7
top      Male          Yes       Yes     Artist            Low  Cat_6
freq     3677         3944      4249       2192           3999   4476

In [12]:
print(train.shape,test.shape)
train=train.drop('ID',axis=1)
test_ID=test.pop('ID')
target=train.pop('Segmentation')

print(train.shape,test.shape,target.shape)

(6665, 11) (2154, 10)
(6665, 9) (2154, 9) (6665,)

In [13]:
#범주형/연속형 분리
n_cols=train.select_dtypes(exclude='object').columns
c_col=train.select_dtypes('object').columns

In [14]:
#범주형 카테고리 비교
print(c_col)
set_train=set(train[c_col])
set_test=set(test[c_col])
print(set_train==set_test)

Index(['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score',
       'Var_1'],
      dtype='object')
True

In [15]:
train.describe(exclude='object')

               Age  Work_Experience  Family_Size
count  6665.000000      6665.000000  6665.000000
mean     43.536084         2.629107     2.841110
std      16.524054         3.405365     1.524743
min      18.000000         0.000000     1.000000
25%      31.000000         0.000000     2.000000
50%      41.000000         1.000000     2.000000
75%      53.000000         4.000000     4.000000
max      89.000000        14.000000     9.000000

# preprocessing

In [16]:
from sklearn.preprocessing import LabelEncoder
print(c_col)
for col in c_col:
    encoder=LabelEncoder()
    train[col]=encoder.fit_transform(train[col])
    test[col]=encoder.transform(test[col])

Index(['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score',
       'Var_1'],
      dtype='object')

In [17]:
print(train[c_col])

      Gender  Ever_Married  Graduated  Profession  Spending_Score  Var_1
0          1             0          0           5               2      3
1          0             1          1           2               2      5
2          1             1          1           7               1      5
3          1             1          0           0               0      5
4          1             0          1           5               2      5
...      ...           ...        ...         ...             ...    ...
6660       1             1          1           0               1      5
6661       1             0          0           4               2      3
6662       0             0          1           5               2      5
6663       0             0          1           5               2      5
6664       1             1          1           4               0      3

[6665 rows x 6 columns]

In [18]:
# from sklearn.preprocessing import StandardScaler
# print(n_cols)
# scaler=StandardScaler()
# train[n_cols]=scaler.fit_transform(train[n_cols])
# test[n_cols]=scaler.transform(test[n_cols])

In [19]:
print(train[n_cols])

      Age  Work_Experience  Family_Size
0      22              1.0          4.0
1      67              1.0          1.0
2      67              0.0          2.0
3      56              0.0          2.0
4      32              1.0          3.0
...   ...              ...          ...
6660   41              0.0          5.0
6661   35              3.0          4.0
6662   33              1.0          1.0
6663   27              1.0          4.0
6664   37              0.0          3.0

[6665 rows x 3 columns]

# 4-1. modeling & validation

In [20]:
# from sklearn.model_selection import train_test_split
# X_tr,X_val,y_tr,y_val=train_test_split(train,target,random_state=0,test_size=0.2)
# print(X_tr.shape,X_val.shape,y_tr.shape,y_val.shape)

In [21]:
# #랜덤포레스트
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import f1_score

# model=RandomForestClassifier(random_state=0,max_depth=5)
# model.fit(X_tr,y_tr)
# pred=model.predict(X_val)

# f1_score(y_val,pred,average='macro')

# #baseline(c_label): 0.4945825363183669
# # max_depth=5 :0.5326068181508793
# # max_depth=7 :0.5395063890042223
# # max_depth=7,n_estimators=200 : 0.5436560895063142
# #c_label,n_label:0.49413909943188705

In [22]:
# #로지스틱 회귀
# from sklearn.linear_model import LogisticRegression
# lr=LogisticRegression()
# lr.fit(X_tr,y_tr)
# pred=lr.predict(X_val)
# f1_score(y_val,pred,average='macro')

In [23]:
# #lightgbm
# import lightgbm as lgb 
# model=lgb.LGBMClassifier(random_state=0,num_leaves=5,min_data_in_leaf=5,max_depth=3)
# model.fit(X_tr,y_tr)
# pred=lgb.predict(X_val)
# f1_score(y_val,pred,average='macro')
# #base: 0.5227625161214081
# #max_depth=5: 0.5308812966904689
# #max_depth=3: 0.5323138449853055
# #max_depth=3,n_estimators=200,learning_rate=0.05:0.5359637699898496

# #num_leaves=5 : 0.5371827354333298
# #random_state=0,num_leaves=5,min_data_in_leaf=5,max_depth=3 :0.5380026415649495

# 5-2 cross validation score

In [24]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(random_state=0,max_depth=5,n_estimators=200)

In [25]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model,train,target,scoring='f1_macro',cv=5)
print(scores.mean())
model.fit(train,target)
#base:0.4849572060458728
#max_depth=5:0.513226905318416
#max_depth=7:0.5232864245431778
#max_depth=7,n_estimators=200 : 0.522217418628954

0.5131991083313926

RandomForestClassifier(max_depth=5, n_estimators=200, random_state=0)

In [26]:
# import lightgbm as lbm
# model=lbm.LGBMClassifier(random_state=0)

In [27]:
# from sklearn.model_selection import cross_val_score
# scores=cross_val_score(model,train,target,scoring='f1_macro',cv=5)
# print(scores.mean())

# # base:0.5096142541494979
# #maxdepth=5: 0.5224605736850922
# #maxdepth=3: 0.5274208795764617
# #n_estimate=200,learning_rate=0.05: 0.5230830521789648

In [28]:
# model.fit(train,target)

# 6. data submit

In [29]:
pred=model.predict(test)
submit=pd.DataFrame(
    {
        'ID':test_ID,
        'Segmentation':pred
    }
)
print(submit)

          ID  Segmentation
0     458989             1
1     458994             3
2     459000             2
3     459003             2
4     459005             1
...      ...           ...
2149  467950             1
2150  467954             4
2151  467958             1
2152  467961             2
2153  467968             4

[2154 rows x 2 columns]

In [30]:
submit.to_csv('result4_2.csv',index=False)
pd.read_csv('result4_2.csv')

          ID  Segmentation
0     458989             1
1     458994             3
2     459000             2
3     459003             2
4     459005             1
...      ...           ...
2149  467950             1
2150  467954             4
2151  467958             1
2152  467961             2
2153  467968             4

[2154 rows x 2 columns]